<!DOCTYPE html>

<!--
Project name(项目名称)：Element_UI_Drawer
  File name(文件名): test9
  Authors(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/5/8
  Time(创建时间)： 21:32
  Description(描述)： 无
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/element-ui.css">
    <script src="js/vue.js"></script>
    <script src="js/element-ui.js"></script>
</head>
<body>

<div id="app">

    <el-button type="success" @click="dialog=true">点击打开</el-button>

    <el-drawer
            title="我嵌套了 Form !"
            :before-close="handleClose"
            :visible.sync="dialog"
            direction="ltr"
            custom-class="demo-drawer"
            ref="drawer"
    >
        <div class="demo-drawer__content">
            <el-form :model="form">
                <el-form-item label="活动名称" :label-width="formLabelWidth">
                    <el-input v-model="form.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="活动区域" :label-width="formLabelWidth">
                    <el-select v-model="form.region" placeholder="请选择活动区域">
                        <el-option label="区域一" value="shanghai"></el-option>
                        <el-option label="区域二" value="beijing"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div class="demo-drawer__footer">
                <el-button @click="cancelForm">取 消</el-button>
                <el-button type="primary" @click="$refs.drawer.closeDrawer()" :loading="loading">
                    {{ loading ? '提交中 ...' : '确 定' }}
                </el-button>
            </div>
        </div>
    </el-drawer>

</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            loading: false,
            dialog: false,
            form: {
                name: '',
                region: '',
                date1: '',
                date2: '',
                delivery: false,
                type: [],
                resource: '',
                desc: ''
            },
            formLabelWidth: '80px',
            timer: null,
        },
        methods: {
            handleClose(done)
            {
                if (this.loading)
                {
                    return;
                }
                this.$confirm('确定要提交表单吗？')
                    .then(_ =>
                    {
                        this.loading = true;
                        this.timer = setTimeout(() =>
                        {
                            done();
                            // 动画关闭需要一定的时间
                            setTimeout(() =>
                            {
                                this.loading = false;
                            }, 400);
                        }, 2000);
                    })
                    .catch(_ =>
                    {
                    });
            },
            cancelForm()
            {
                this.loading = false;
                this.dialog = false;
                clearTimeout(this.timer);
            }
        },
        mounted()
        {

        }
    })
</script>
</body>
</html>